<div>
  <div class="todoapp">
    <div class="header">
      <form ng-submit="vm.addTodo()">
        <input class="new-todo" placeholder="What needs to be done?" ng-model="vm.newTodo" autofocus>
      </form>
    </div>

    <div class="main" ng-show="vm.todos.length">

      <input id="toggle-all" class="toggle-all" type="checkbox" ng-model="vm.allChecked" ng-click="vm.markAll(vm.allChecked)">
      <label for="toggle-all">Mark all as complete</label>

      <ul class="todo-list">
        <li ng-repeat="todo in vm.todos | filter:vm.statusFilter track by $index" ng-class="{completed: todo.completed}">
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="vm.toggleCompleted(todo)">
            <label>{{todo.title}}</label>
            <button class="destroy"></button>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer" ng-show="vm.todos.length">
      <span class="todo-count">
        <strong>{{remainingCount}}</strong> item(s) left
  		</span>
      <ul class="filters">
        <li>
          <a ng-class="{selected: vm.status == ''}">All</a>
        </li>
        <li>
          <a ng-class="{selected: vm.status == 'active'}">Active</a>
        </li>
        <li>
          <a ng-class="{selected: vm.status == 'completed'}">Completed</a>
        </li>
      </ul>
      <button class="clear-completed" ng-click="vm.clearCompletedTodos()" ng-show="vm.completedCount">Clear completed</button>
    </div>
  </div>

</div>
