.todoapp {
  margin-top: 10px;
  width: 540px;
  margin: 0 auto;
}

.tab {
  display: block;
  padding: 0;
}

.tab .tab-item {
  list-style: none;
  display: inline-block;
}

.tab .tab-item a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

.tab .tab-item a.active {
  text-decoration: underline;
}
